.landing{
    background-image: url("../../assets/a720c2ee1d80edf188c3a526bde09ee5.jpg");
    background-position: center;
    background-size: cover;
}
/* .search{
    background-image: url("../../assets/a720c2ee1d80edf188c3a526bde09ee5.jpg");
    background-position: center;
    background-size: cover;
} */